{
  {% if data.verification_status %}
  "coding": [
    {
      "system": "http://terminology.hl7.org/CodeSystem/condition-ver-status",
      "code": "{{ data.verification_status }}"
    } 
  ]
  {%- endif %}
}