{
  "type": {
    "coding": [
      {
        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
        "code": "RR",
        "display": "Request received"
      }
    ]
  },
  "system": "{{ data.order_placer_system }}",
  "value": "{{ data.order_placer }}"
}