{
  "type": {
    "coding": [
      {
        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
        "code": "RF",
        "display": "Refill order"
      }
    ]
  },
  "system": "{{ data.order_filler_system }}",
  "value": "{{ data.order_filler }}"
}