{
  {% if data.code %}
  "coding": [
    {
      "system": "{{ data.code_system }}",
      "code": "{{ data.code }}",
      "display": "{{ data.code_display }}"
    } 
  ],
  {%- endif %}
  "text": "{{ data.code_text }}"
}