{
  {% if data.category_code %}
  "coding": [
    {
      "system": "{{ data.category_system }}",
      "code": "{{ data.category_code }}",
      "display": "{{ data.category_display }}"
    } 
  ],
  {%- endif %}
  "text": "{{ data.category_text }}"
}