{% extends "base.j2" %}
{% block resource_attributes %}
  {%- if data.internal_id -%}
  "id": "{{ data.internal_id }}",
  {%- endif %}
  "identifier": [
    {%- if data.source_id -%}
    {% include "attributes/source_id.j2" %}
    {%- endif %}
    {%- if data.source_id and data.source_file_id -%}
    ,
    {%- endif %}
    {%- if data.source_file_id -%}
    {% include "attributes/source_file_id.j2" %}
    {%- endif %}
  ],
  "status" : "{{ data.status }}",
  "statusReason": {% include "attributes/medication_request/status_reason.j2" %},
  "intent": "{{ data.intent }}",
  "category": {% include "attributes/medication_request/category.j2" %},
  "priority": "{{ data.priority }}",
  "medicationCodeableConcept": {% include "attributes/medication_request/medication_codeable_concept.j2" %},
  "medicationReference": {% include "attributes/medication_reference.j2" %},
  "subject" : {% include "attributes/patient_reference.j2" %},
  "encounter" : {% include "attributes/encounter_reference.j2" %},
  "authoredOn" : "{{ data.authored_date_time }}",
  "requester" : {% include "attributes/practitioner_reference.j2" %},
  "reasonCode": {% include "attributes/medication_request/reason_code.j2" %},
  "note": "{{ data.note }}",
  "dosageInstruction": {% include "attributes/medication_request/dosage.j2" %},
  "dispenseRequest": {% include "attributes/medication_request/dispense_request.j2" %}
{% endblock %}