{% extends "base.j2" %}
{% block resource_attributes %}
  {%- if data.internal_id -%}
  "id": "{{ data.internal_id }}",
  {%- endif %}
  "identifier": [
    {%- if data.source_id -%}
    {% include "attributes/source_id.j2" %}
    {%- endif %}
  ],
  "status": "{{ data.status }}",
  "subject": {% include "attributes/patient_reference.j2" %},
  "encounter": {% include "attributes/encounter_reference.j2" %},
  "author": {% include "attributes/practitioner_reference.j2" %},
  "authored" : "{{ data.authored_date_time }}",
  "item": {% include "attributes/questionnarie_response/item.j2" %}
{% endblock %}