{
  {% if data.body_site_code %}
  "coding": [
    {
      "system": "{{ data.body_site_system }}",
      "code": "{{ data.body_site_code }}",
      "display": "{{ data.body_site_display }}"
    }
  ],
  {%- endif %}
  "text": "{{ data.body_site_text }}"
}