{
  "type": {
    "coding": [
      {
        "system": "{{ data.pre_admission_code_system }}",
        "code": "{{ data.pre_admission_code }}",
        "display": "{{ data.pre_admission_code_display }}"
      }
    ]
  },
  "system": "{{ data.pre_admission_system }}",
  "value": "{{ data.pre_admission_value }}"
}