{
  "type": {
    "coding": [
      {
        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
        "code": "RI",
        "display": "Resource Identifier"
      }
    ]
  },
  "system": "http://healthec.com/identifier/member/health_record_key",
  "value": "{{ data.health_record_key }}"
}