{
  "type": {
    "coding": [
      {
        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
        "code": "MC",
        "display": "Patient's Medicare Number"
      }
    ]
  },
  "system": "{{ data.medicare_system }}",
  "value": "{{ data.medicare_number }}"
}