{
  "type": {
    "coding": [
      {
        "system": "http://org.mihin.fhir.patient.identifier.type",
        "code": "CKS",
        "display": "MiHIN Common Key Service Id"
      }
    ]
  },
  "system": "http://org.mihinss/fhir/cks",
  "value": "{{ data.mihin_id }}"
}