{
  "type": {
    "coding": [
      {
        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
        "code": "SL"
      }
    ]
  },
  "system": "{{ data.state_license_system }}",
  "value": "{{ data.state_license }}"
}