{
  "type": {
    "coding": [
      {
        "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
        "code": "RI",
        "display": "Resource Identifier"
      }
    ]
  },
  "system": "http://healthec.com/identifier/practice/sub_group_id",
  "value": "{{ data.sub_group_id }}"
}