  {
    "type": {
      "coding": [
        {
          "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
          "code": "SN",
          "display": "Subscriber Number"
        }
      ]
    },
    "system": "{{ data.subscriber_system }}",
    "value": "{{ data.subscriber_id }}"
  }