{
    "type": {
      "coding": [
        {
          "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
          "code": "NABP"
        }
      ]
    },
    "system": "http://www.nabp.net",
    "value": "{{ data.nabp_id }}"
}