[
  {%- if data.type_code or data.type_text -%}
  {
    {%- if data.type_code -%}
    "coding": [
      {
        "system": "http: //terminology.hl7.org/CodeSystem/organization-type",
        "code": "{{ data.type_code }}",
        "display": "{{ data.type_display }}"
      }
    ],
    {%- endif %}
    "text": "{{ data.type_text }}"
  }
  {%- endif %}
]